body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#country-info {
    text-align: center;
    margin-top: 20px;
}

#country-info img {
    max-width: 300px;
    margin-bottom: 10px;
}

#converted {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
}


.country-info-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.country-info-box h3 {
    margin-top: 0;
    color: #333;
}

.country-info-box p {
    margin: 5px 0;
}

.gallery {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    /* Adiciona posição relativa para posicionar os botões */
}

#coinImage {
    max-width: 800px;
    margin: 20px auto;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para dispositivos celulares */
@media only screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .container, .gallery {
        width: 45%;
    }

    select,
    input {
        width: calc(100% - 20px);
        margin: 5px 0;
    }

    button {
        width: 100%;
    }

    #country-info img {
        max-width: 80px;
    }

    #coinImage {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}